<h1>Users</h1>

<h1>
  Admin:
  <%= @users.count %>
</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <% @users.each do |user|%>
        <%= render 'users/user', user: user %>
    <%end%>
</div>